[submodule "external/riscv-opcodes"]
	path = external/riscv-opcodes
	url = https://github.com/scarv/riscv-opcodes.git
[submodule "external/texmf"]
	path = external/texmf
	url = https://github.com/scarv/texmf.git
